html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  height: 100vh;
  background: linear-gradient(to top, #ffffff, #5e5e5e);
  background-repeat: no-repeat;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.galery-container {
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  list-style: none;
}
.list-card {
  min-height: 250px;
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% / 4) - 30px);
  background-color: transparent;
  border: 2px solid rgba(0, 255, 255, 0.5);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.list-card:hover {
  box-shadow: 1px 1px 20px 0px rgba(0, 255, 255, 1);
  transition: 300ms;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.load-more-btn {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  color: rgb(181, 241, 241);
  background-color: transparent;
  border: 1px solid rgb(161, 233, 233);
  border-radius: 10px;
}
.load-more-btn:enabled {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
}

.load-more-btn:hover {
  box-shadow: 1px 1px 20px 0px rgba(0, 255, 255, 1);
  border: 1px solid rgba(0, 255, 255, 1);
  color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
}
.load-more-btn:hover:disabled {
  color: rgb(241, 255, 255);
  box-shadow: 1px 1px 20px 0px rgb(229, 252, 252);
  border-color: rgb(229, 252, 252);
}
.btn-box {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.stats-item {
  margin-top: 0;
  margin-bottom: 0;
}
.form-box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.form-imput {
  width: 500px;
  height: 50px;
  padding: 10px;

  background-color: rgb(150, 255, 255, 0.1);
  border: 1px solid rgb(178, 255, 255);
  border-radius: 10px;
  color: rgb(239, 245, 245);
}
.form-imput::placeholder {
  color: rgba(0, 255, 255, 1);
}
.form-imput:focus {
  box-shadow: 1px 1px 20px 0px rgba(0, 255, 255, 1);
  outline: transparent;
  transition: 300ms;
}
.btn-submit {
  position: absolute;
  left: 915px;
  top: 120px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  color: rgb(181, 241, 241);
  background-color: transparent;
  border: none;
}
.btn-submit:hover {
  color: rgba(0, 255, 255, 1);
  box-shadow: 1px 1px 20px 0px rgba(0, 255, 255, 1);
  border-radius: 15px;
  transition: 300ms;
}
.title {
  color: rgb(223, 255, 255);
  text-transform: uppercase;
}
.hiden {
  display: none;
}
